

<!-- <button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="Autocomplete">Autocomplete </button> -->
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="Badge">Badge </button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="Bottomsheet">Bottomsheet</button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="Button">Button </button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="ButtonToggle">ButtonToggle </button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="card">Card </button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="checkBox">checkBox</button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="chips">Chips</button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="core">Core</button>
<button style="height: 100px; width: 150px; margin: 10px;" mat-raised-button  routerLink="datePicker">DatePicker</button>
 
 <router-outlet></router-outlet>
 